.widget
  .widget-title
    i(class='fa fa-line-chart')= ' ' + __('PageView')
  script(src='https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js', async)
  br
  span#busuanzi_container_site_pv
    span#busuanzi_value_site_pv
    span= ' ' + __('Hits')
