script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
    showMathMenu: false,
    jax: ["input/TeX","output/CommonHTML"],
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });

script(type='text/javascript', src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML', async)
